{% extends('base.html.twig') %}

{% block title %}
Post
{% endblock %}

{% block body %}
    <h1> {{ post.title }} </h1>
    <em> {{ post.category }} </em>
    <br>
    <img src="{{ '/uploads/' ~ post.image }}" alt="">
{% endblock %}